<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Token" value="P4m5ucvKiKCRzQWfSkcH7s7FCY1MOWXjOHhNUrGzYIL"/>
		<add key="FilePath" value="C:\Users\user446\Desktop\EDSSystemMAIOTrans\"/>
		<add key="LogFileError" value="C:\Users\user446\Desktop\test\LogError.txt"/>
		<add key="LogFileData" value="C:\Users\user446\Desktop\test\LogData.txt"/>
	</appSettings>
</configuration>